<html>
<head>
    <link rel="stylesheet" type="text/css" href="static/index.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.1/css/bulma.css"/>
    <title>Flask Screener App</title>
</head>
<body>
<nav class="navbar ">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            Flask Test Bench
        </a>
    </div>
</nav>
<div class="columns">
    <aside class="column is-3 hero aside is-fullheight" style="background: lightgray">
        <div>
            <div class="main">
                <p class="menu-label" style="margin-left: 5px;">
                    Protect
                </p>
                <ul class="menu-list">
                    <li><a href="/cmdi">CMD Injection</a></li>
                    <li><a href="/deserialization">Untrusted Deserialization PICKLE</a></li>
                    <li><a href="/deserialization_yaml">Untrusted Deserialization YAML</a></li>
                    <li><a href="/padding-oracle?attack=false">Padding Oracle</a></li>
                    <li><a href="/path-traversal">Path Traversal</a></li>
                    <li><a href="/ssrf">SSRF</a></li>
                    <li><a href="/sqli">SQL Injection</a></li>
                    <li><a href="/xxe-lxml">XXE LXML</a></li>
                    <li><a href="/xxe-pulldom">XXE PullDOM</a></li>
                    <li><a href="/xxe-sax">XXE Sax</a></li>
                    <li><a href="/xss">XSS</a></li>
                </ul>
            </div>
        </div>
    </aside>
    <div class="column container">
        {% block content %}{% endblock %}
    </div>
</div>
</body>

</html>
