{% extends 'base.html' %}

{% block content %}
<div class="column is-8">

  <p>Attempt to SQL Inject this query: </p>
      <p>"SELECT * FROM users where id = '<span name="dynamic_span">user_input</span>'" </p>
  <br>

    <p></p>

  <h3>Attack Input</h3>
  <form action="/sqli" method="post">
    <div class="field has-addons">
      <div class="control">
        <input class="input" type="text" name="user_input" id="user_input_id" placeholder="ID (or) ' or '1'='1">
      </div>
      <div class="control">
        <button class="button is-info" action="submit">
          Execute
        </button>
      </div>
    </div>
  </form>

  {{ error }}

  <div>
    {% for res in result %}
        id: {{ res.id }} <br/>
        user: {{ res.username }} <br/>
        email: {{ res.email }} <br/>
    {% endfor %}
  </div>

</div>
<!-- Jinja doesn't let you dynamically update text without a little hassle, or sending a request to rerender, so js will do. -->
    <script>
    window.onkeyup = function() {
        var inputID = document.getElementById("user_input_id")
        var dynamicSpan = document.getElementsByName('dynamic_span')[0]
        if (inputID && inputID.value) {
                dynamicSpan.innerHTML = inputID.value
        }
    }
    </script>
{% endblock %}