{% extends 'base.html' %}

{% block content %}
<h1>SSRF</h1>
<div class="column is-8">
  <p>This form makes a request to whatever URL is specified below</p>

   {% if user_input %}
    <p>Request to: <span class="user-input">{{user_input}}</span></p>
   {% endif %}

  <form action="/ssrf" method="post">
    <div class="field has-addons">
      <div class="control">
        <input class="input" type="text" name="user_input" placeholder="URL">
      </div>
      <div class="control">
        <button class="button is-info" action="submit">
          Execute
        </button>
      </div>
    </div>
  </form>

  <div>
    Result: {{ result }}
  </div>

</div>
{% endblock %}